{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "jquery-ui-1.9.2.custom/css/ui-darkness/jquery-ui-1.9.2.custom.min.css" %}" />
    <link rel="stylesheet" href="{% static "DevNewsAggregatorConfiguration.css" %}" />

    <script type="application/javascript" src="{% static "jquery-ui-1.9.2.custom/js/jquery-1.8.3.js" %}"></script>
    <script type="application/javascript" src="{% static "jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js" %}"></script>
    <script type="application/javascript" src="{% static "DevNewsAggregatorConfiguration.js" %}"></script>

    <title>{% block title %}Development News Aggregator{% endblock %}</title>
</head>

<body>

    <ul id="top_nav">
        <li><a class="filter-feeds" href="#">Filters</a></li>
        <li><a href="#">Account</a>
            <ul>
                <li><a href="#">Change Password</a>
                <li><a href="#">Logout</a></li>
            </ul>
        </li>
    </ul>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>