{% extends "DevNewsAggregatorConfiguration/metronic_navigation_template.html" %}

{% block content %}{% autoescape off %}{{ content_body}} {% endautoescape %}{% endblock %}

{% block page_level_js %}
    <script>
        jQuery(document).ready(function() {
            $.ajax("/DevNewsAggregatorConfiguration/feed/html_content/", {
                type: "GET",
                success: handleContentAdded
            });

            $.ajax("/DevNewsAggregatorConfiguration/feed/rss_content/", {
                type: "GET",
                success: handleContentAdded
            });
        });
    </script>
{% endblock %}