{% extends "DevNewsAggregatorConfiguration/base_login.html" %}

{% block form_load_script %}
    <script>
        {% if authentication_failure %}
            $('#default-error-message').hide();
            $('#authentication-error-message').html('{{ authentication_failure }}');
            $('#authentication-error').removeClass('display-hide');

            $(function() {
                $('.login-form').submit(function() {
                    $('#authentication-error-message').hide();
                    $('#default-error-message').show();
                    return true;
                });
            });
        {% endif %}
    </script>
{% endblock %}