body {
    background: none repeat scroll 0 0 #F1F1F1;
}

.content {
    width: 940px;
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 20px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 940px;
}

.news-entry-title {
    color: #000000;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
}

.news-entry-title a:link {
    color: #000000;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
}

.news-entry-date {
    float: right;
}

.news-entry {
    margin: 0 0 48px;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
}

.scraping-hidden {
    display: none !important;
}

/* Quick Sidebar Icons */
.page-quick-sidebar-wrapper .page-quick-sidebar .list-items > li:before {
    /* Edit Symbol */
    content: "\e065";
    padding-right: 5px;
    cursor: pointer;

    /* Copied from bootstrap.css .glyphicon. Adding glyphicon to the li destroys quick-sidebar formatting from Metronic */
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#add-new-content-source:before {
    /*Plus Sign*/
    content: "\e081";
}